.perci__card{
    background-color: white;
    padding: 20px 20px;
    width: 300px;
    border-radius: 30px;
}

.card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__header__right{
    background-color: var(--blue_dark);
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}
.card__ranges__precipation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

.card__ranges__title{
    font-size: 14px;
    color: gray;
}
.precipaton__range{
    width: 18px;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    position: relative;
}
.precipaton__fill__good{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    background-color: var(--blue_dark);
    width: 100%;
}
.precipaton__fill__normal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    background-color: var(--blue_light);
    width: 100%;
}

