.container__panel {
    background-color: var(--blue_light);
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 30px 50px;

}
.panel__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user__img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;

}
.panel__header__right{
    display: flex;
    gap: 20px;
    align-items: center;
}

.panel__chart{
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
}
.chart__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    padding: 4px 10px;
    border-radius: 5px;
    color: gray;
    width: fit-content;
    font-size: 14px;
}

.tags__sections{
    display: flex;
    gap: 5px;
    align-items: center;

}
.weather__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-top: 10px;
}
.weather__details{
    margin-top: 10px;
}