@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --blue_dark : #5C9CE5;
  --blue_light : #E4F1FF;
  --black_light : #0C0D0E;
}

body {
  font-family: 'Nunito', sans-serif;
}